<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="port" content="<%= port %>" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/public/style/style.css" />
        <link rel="stylesheet" href="/public/style/air.css" />
    </head>

    <body>
        <div id="app">
            <div class="operations">
                <button id="editBtn">编辑</button>
                <button id="newBtn">
                    <a href="/editor" target="_blank">新建</a>
                </button>
            </div>
            <%- content %>
        </div>
        <script src="/public/js/client.js"></script>
    </body>
</html>
