body {
    background-color: #f1e097;
}
h1 {
    color: brown;
}
img {
    border-radius: 10px;
    width: 100%;
}

#toTop {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: black;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 30px;
    cursor: pointer;
}
